html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.subheader_style {
	background-color: white;
	height: 35px;
	width: 180px;
	font-family: "Times New Roman", Arial, sans-serif;
	color: black;
	text-align: center;
	line-height: 2.25;
	vertical-align: middle;
	border-radius: 12px;
}

.subheader_style:hover {
	background-color: #4400ff;
	cursor: pointer;
}

.mic_style {
	background-color: white;
	height: 35px;
	width: 180px;
	font-family: "Times New Roman", Arial, sans-serif;
	color: black;
	text-align: center;
	line-height: 2.25;
	vertical-align: middle;
	border-radius: 12px;
}

.mic_style:hover {
	background-color: #4400ff;
	cursor: pointer;
}

.button_style {
	background-color: white;
	height: 35px;
	width: 180px;
	font-family: "Times New Roman", Arial, sans-serif;
	color: black;
	text-align: center;
	line-height: 2.25;
	vertical-align: middle;
	border-radius: 12px;
}

.button_style:hover {
	background-color: #4400ff;
	cursor: pointer;
}

.piano_button_style {
	background-color: white;
	height: 20px;
	width: 50px;
	font-family: "Times New Roman", Arial, sans-serif;
	color: black;
	text-align: center;
	vertical-align: middle;
	border-radius: 12px;
}

.red_bar{
	background-image: linear-gradient(to right,black,red);
	border-radius: 3px; 
	border-style: solid; 
	border-width:thin; 
	width: 140px;
}

.green_bar{
	background-image: linear-gradient(to right,black,green);
	border-radius: 3px; 
	border-style: solid; 
	border-width:thin; 
	width: 140px;
}

.blue_bar{
	background-image: linear-gradient(to right,black,blue);
	border-radius: 3px; 
	border-style: solid; 
	border-width:thin; 
	width: 140px;
}
















